<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .header }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet/less" href="/static/css/styles.less" />
    <link rel="stylesheet/less" href="/static/css/registry.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Container Registry</h1>
</header>
<nav>
    {{ range .pages }}
    {{ if .IsVisible }}
    <a href="{{ .URL }}" class="active">{{ .Name }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <a href="/logout">Выйти</a>
</nav>
<div class="container" id="app">
    <h2>Реестры</h2>
    <div class="card">
        <button id="repo-btn" class="btn btn-primary">Добавить реестр</button>
        {{ template "modals/add_repo"}}
        {{ if .registries }}
        {{ template "registry" .registries }}
        {{ else if .repository }}
        {{ template "repository" .repository }}
        {{ end}}
    </div>
{{ template "github-link"}}
<script src="/static/js/registry.js"></script>
</body>
</html>