<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .header }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet/less" href="/static/css/styles.less" />
    <link rel="stylesheet/less" href="/static/css/registry.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Container Registry</h1>
</header>
<nav>
    {{ range .pages }}
    {{ if .IsVisible }}
    <a href="{{ .URL }}" class="active">{{ .Name }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <a href="/logout">Выйти</a>
</nav>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container" id="app">
    <h2>Реестры</h2>
    <div class="card">
        <button id="repo-btn" class="btn btn-primary">Добавить репозиторий</button>
    {{ template "modals/add_repo"}}
    <table>
        <tbody>
            {{ range .repos }}
            <tr>
                <td>{{.Name}}</td>
                <td>test</td>
                <td>test</td>
                <td>
                    <form class="btn-form btn btn-primary" action="/databases/backup/download" method="get">
                        <button type="submit" name="ID" value="test" class="btn btn-primary">скачать</button>
                    </form>
                    <form class="btn-form btn btn-secondary" action="/databases/backup/delete" method="post">
                        <button type="submit" name="ID" value="test" class="btn btn-secondary">удалить</button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </div>
</div>
{{ template "github-link"}}
<!-- Модальное окно для подтверждения восстановления -->
<!-- <div id="restoreModal" class="modal">
<div class="modal-content">
    <span class="close">&times;</span>
    <h2>Подтверждение восстановления</h2>
    <p>Вы уверены, что хотите восстановить базу данных  из бэкапа от ?</p>
    <p><strong>Внимание:</strong> Это действие перезапишет текущую базу данных!</p>
    <button class="btn btn-primary">Подтвердить восстановление</button>
    <button class="btn btn-secondary">Отмена</button>
</div>
</div> -->

<script src="/static/js/registry.js"></script>
</body>

</html>