{{ define "registry" }}
<table>
    <thead>
        <tr>
            <th>Имя реестра</th>
            <th>Размер</th>
            <th>Создан</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>
                <a href="/repository/{{.Name}}">{{.Name}}</a>
            </td>
            <td>{{.Size}}</td>
            <td>{{.CreatedAt}}</td>
            <td>
                :
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end}}