{{ define "repository" }}
<table>
    <thead>
        <tr>
            <th>Образ</th>
            <th>Тег</th>
            <th>Размер</th>
            <th>Создан</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range .Images }}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Tag}}</td>
            <td>{{.Size}}</td>
            <td>{{.CreatedAt}}</td>
            <td>
                :
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end}}